.view{
	position:absolute;
	top: 52px;left: 0;bottom: 0;right: 0;
	overflow: hidden;
}

.section{
	position:absolute;
	top: 0;left: 0;bottom: 0;right: 0;
	overflow-x: hidden;
	overflow-y: auto;

	padding: 0px 5px;

	-webkit-overflow-scrolling:touch;

	-webkit-transition: all .5s ease-out;
	   -moz-transition: all .5s ease-out;
	    -ms-transition: all .5s ease-out;
	     -o-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}

.shermarks{
	text-decoration: none;
}

.shermarks:hover {
	text-decoration: none;
	cursor: pointer;
}

.left{
	-webkit-transform: translate3D( -100%, 0, 0);
	   -moz-transform: translate3D( -100%, 0, 0);
	    -ms-transform: translate3D( -100%, 0, 0);
	     -o-transform: translate3D( -100%, 0, 0);
	        transform: translate3D( -100%, 0, 0);
}

.center{
	-webkit-transform: translate3D( 0%, 0, 0);
	   -moz-transform: translate3D( 0%, 0, 0);
	    -ms-transform: translate3D( 0%, 0, 0);
	     -o-transform: translate3D( 0%, 0, 0);
	        transform: translate3D( 0%, 0, 0);
}

.right{
	-webkit-transform: translate3D( 100%, 0, 0);
	   -moz-transform: translate3D( 100%, 0, 0);
	    -ms-transform: translate3D( 100%, 0, 0);
	     -o-transform: translate3D( 100%, 0, 0);
	        transform: translate3D( 100%, 0, 0);
}